################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApiSample/bin
/ApiSample/obj/Debug
/packages
